<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="TxtAppender" class="org.apache.log4j.FileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="logs/log.txt"/>
        <layout class="org.apache.log4j.SimpleLayout"/>
    </appender>
    <logger name="by.bsu">
        <level value="debug"/>
    </logger>
    <root>
        <appender-ref ref="TxtAppender"/>
    </root>
</log4j:configuration>