<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>

    <appender name="TxtAppender" class="org.apache.log4j.FileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="logs/log.txt"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c - %m%n"/>
        </layout>
    </appender>

    <appender name="HtmlAppender" class="org.apache.log4j.FileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="logs/log.html"/>
        <layout class="org.apache.log4j.HTMLLayout">
        </layout>
    </appender>

    <appender name="XmlAppender" class="org.apache.log4j.FileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="logs/log.xml"/>
        <layout class="org.apache.log4j.xml.XMLLayout">
        </layout>
    </appender>

    <logger name="by.bsu">
        <level value="debug"/>
    </logger>

    <root>
        <appender-ref ref="TxtAppender"/>
        <appender-ref ref="XmlAppender"/>
        <appender-ref ref="HtmlAppender"/>
    </root>

</log4j:configuration>

